<div class="container">
  <div class="row">
    <div class="col">
      <h1>Create a new lead</h1>

      <%= simple_form_for @lead do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :age %>
        <%= f.input :situation %>
        <%= f.input :domains %>
        <%= f.input :type %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
